@font-face {
    font-family: "pokemon";
    src: url("fonts/Pokemon\ Solid.ttf");
}

@font-face {
    font-family: "retro";
    src: url("fonts/Retro\ Gaming.ttf");
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading-text{
    font-family: "pokemon";
    font-size: 90px;
    margin-top: -65px;
    margin-bottom: 0px;
}

#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar{
    margin-right: 10px;
    padding: 5px;
}

#search-btn{
    border-radius: 50%;
}

.btn{
    padding: 5px;
    background-color: #fff;
    border: none;
}

#search-btn img{
    width: 50px;
    background: transparent;
    cursor: pointer;
}


.card{
    font-family: "retro";
    margin-top: 20px;
    margin-right: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    width: 300px;
    z-index: 1;
}

.card img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.card h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}

#cards-container{
    display: flex;
}

#btn-container{
    display: flex;
    justify-content: center;
}


.carousel-btn{
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-right: 20px;
}

.carousel-btn:hover{
    background-color: #33333341;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content{
    font-family: "pokemon";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-content h1{
    margin-top: 0;
    font-size: 56px;
}


.modal-content h2{
    font-size: 18px;
}

@media (max-width:600px){
    #heading-text {
        font-size: 40px;
        margin-top: 0;
        text-align: center;
    }

    #search {
        flex-direction: column;
    }

    #search-bar {
        margin-right: 0;
        margin-bottom: 10px;
        width: 80%;
    }

    #search-btn img {
        width: 40px; 
    }

    #cards-container {
        flex-direction: column;  
        align-items: center;     
    }

    .card {
        width: 90%; 
        margin-right: 0;
        margin-bottom: 20px;  
    }

    .modal-content {
        width: 95%;  
        max-width: none; 
        padding: 3px;
    }

    .modal-content h2{
        font-size: 16px;
    }
}